<div class="flightStats__text">
<p class="flightStats__textWrap">В&nbsp;данном разделе вы&nbsp;можете найти подробную информацию о&nbsp;регулярных рейсах, отправляющихся из&nbsp;аэропортов России или прибывающих 
в&nbsp;них, а&nbsp;именно:</p>

<ul class="flightStats__textList">
<li class="flightStats__textListItem">&mdash;&nbsp;планируемое время отправления и&nbsp;прибытия самолётов;</li>
<li class="flightStats__textListItem">&mdash;&nbsp;изменения в&nbsp;расписании;</li>
<li class="flightStats__textListItem">&mdash;&nbsp;информация о&nbsp;задержках;</li>
<li class="flightStats__textListItem">&mdash;&nbsp;отмена рейсов;</li>
<li class="flightStats__textListItem">&mdash;&nbsp;данные о&nbsp;промежуточных посадках.</li>
</ul>

<p class="flightStats__textWrap">Теперь не&nbsp;обязательно искать нужный рейс по&nbsp;сайтам разных авиакомпаний и&nbsp;аэропортов, чтобы узнать, где и&nbsp;когда встречать ваших близких или 
откуда вылетает ваш самолёт. Вся необходимая информация по&nbsp;рейсам крупнейших российских (Аэрофлот, Сибирь (S7), Трансаэро, ЮТэйр (Utair), 
Пулково, Домодедовские авиалинии, Уральские авиалинии, Красноярские авиалинии (КрасЭйр), Вим Авиа и&nbsp;др.) и&nbsp;зарубежных авиакомпаний доступна 
из&nbsp;первоисточника на&nbsp;нашем сайте.</p>

<p class="flightStats__textWrap">Обновление данных осуществляется путем получения информационных сообщений от&nbsp;авиакомпаний и&nbsp;аэропортов. Из&nbsp;крупных аэропортов таких, как 
Шереметьево&nbsp;B (1), C, F&nbsp;(2) и&nbsp;новых терминалов&nbsp;D и&nbsp;E, Домодедово, Внуково, Пулково, Кольцово и&nbsp;проч., а&nbsp;также от&nbsp;упомянутых выше авиакомпаний 
последние новости приходят быстрее, чем из&nbsp;других источников, и&nbsp;следовательно данные по&nbsp;рейсам обновляются практически в&nbsp;режиме реального 
времени. По&nbsp;остальным аэропортам и&nbsp;авиакомпаниям, к&nbsp;сожалению, возможны задержки.</p>

<p class="flightStats__textWrap">Если информация по&nbsp;интересующему вас рейсу слишком долго не&nbsp;обновляется или вы&nbsp;не&nbsp;можете найти его на&nbsp;табло, свяжитесь с&nbsp;представителями 
аэропорта или авиакомпании для получения более точной информации о&nbsp;его статусе.</p>
</div>