<div class="filterMenuWrapper"> 
    <div class="filterMenuWrapper__content">
        <ul class="filterMenu">
            <li class="filterMenu__item">
                <span class="filterMenu__itemText">41748_item0</span>
            </li>
            <li class="filterMenu__item selected">
                <span class="filterMenu__itemText">41748_item0</span>
            </li>
            <li class="filterMenu__item">
                <span class="filterMenu__itemText">41748_item0</span>
            </li>
            <li class="filterMenu__item">
                <span class="filterMenu__itemText">41748_item0</span>
            </li>
            <li class="filterMenu__item">
                <span class="filterMenu__itemText">41748_item0</span>
            </li>
        </ul>
    </div>
</div>
<div class="filterMenuSubmit">
    <button class="buttonControl">Выбрать</button>
</div>